version: "3.8"
services:
  db:
    image: postgres:16
    container_name: postgres_gastos
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: gastos
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_gastos
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gastos.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - db

  app:
    build: ./app
    container_name: app_gastos
    restart: unless-stopped
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: admin123
      DB_NAME: gastos
      PORT: 3000
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./app:/usr/src/app
      - /usr/src/app/node_modules

volumes:
  postgres_data:
